  .page-footer{
                background-color: grey;
                color: white;
                                        
              }


#footer {
 padding: 20px;
 position: absolute;
 bottom: 0;
 width: 100%;
  background-color: grey;
      color: white;
 
}
